body{
  padding-top: 50px;
  padding-left: 80px;
  padding-right: 40px;
  padding-bottom: 100px;
  background-color: pink;
}

.paragraph{
  font-family: arial;
  font-style: italic;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  color: rgb(83, 83, 196);
  margin-bottom: 250px

}
.logo-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  width: 150px;
}

.nav{
  display: grid;
  grid-template-columns:  2fr 2fr 2fr ;
  column-gap: 30px;
  row-gap: 30px;
}

.nav img{
  width: 50px;
  border-style:solid;
  border-radius: 5px;
  border-color: black;
  object-fit: contain;
  object-position: center;

}