body{
  padding-top: 50px;
  padding-left: 80px;
  padding-right: 40px;
  padding-bottom: 100px;
  background-color: pink;
}

p{
  font-family: arial;
  font-style: italic;
  
}
.paragraph{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  color: rgb(83, 83, 196);
  margin-bottom: 250px

}
.logo-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  width: 250px;
  background-color: rgb(83, 83, 196);
  border-radius: 100px;
}

.nav{
  display: grid;
  grid-template-columns:  2fr 2fr 2fr ;
  column-gap: 30px;
  row-gap: 30px;
  margin-bottom: 100px;
}

.nav img{
  width: 50px;
  border-style:solid;
  border-radius: 10px;
  border-color: black;
  object-fit: contain;
  object-position: center;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.par{
  font-size: 15px;
  margin-bottom: 30px;
  margin-top: 250px;
  display: flex;
  justify-content: flex-end;
}

.plea{
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.links{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 100px;
}

.socials{
  display: flex;
  justify-content: flex-end;
}

.socials img{
  width: 50px;
  padding-left: 40px;

}